<section class="about-us" id="about-us">
  <div class="wrapper">
    <h2>quiénes somos</h2>
    <article class="about-us__article">
      <div class="about-us__article--container-img">
        <img src="./assets/images/img-profile-marina.jpg" alt="Marina" />
      </div>
      <div class="about-us__article--info">
        <h3>Marina Carbonell</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cum? Eum accusamus inventore quasi sunt
          quibusdam modi maxime similique laboriosam mollitia deserunt asperiores in totam, quam necessitatibus,
          blanditiis deleniti temporibus.</p>
        <ul class="about-us__article--info">
          <li>
            <a href="https://twitter.com/DiariodeunaN?s=09">
              <i class="fab fa-twitter" title="Twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/marina-carbonell-%C3%A1lvarez-48903950/"><i class="fab fa-linkedin-in"
                title="LinkedIn"></i></a>
          </li>
          <li>
            <a href="https://github.com/MarinaCarbonell"><i class="fab fa-github-alt" title="GitHub"></i></a>
          </li>
          <li id="last-child">
            <a href=""><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <article class="about-us__article">
      <div class="about-us__article--container-img">
        <img src="./assets/images/img-profile-claudia.jpg" alt="Claudia" />
      </div>
      <div class="about-us__article--info">
        <h3>Claudia Santaella</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, a. Provident quis, temporibus
          quia ducimus commodi quibusdam unde sit corrupti consequatur optio tempora quaerat iure voluptatibus,
          velit aliquid nobis natus?</p>
        <ul class="about-us__article--info">
          <li>
            <a href="https://twitter.com/__Santaella"><i class="fab fa-twitter" title="Twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/claudia-santaella-61526a11"> <i class="fab fa-linkedin-in"
                title="LinkedIn"></i></a>
          </li>
          <li>
            <a href="https://github.com/claudiasanes"><i class="fab fa-github-alt" title="GitHub"></i></a>
          </li>
          <li id="last-child">
            <a href="mailto: claudiasanes@gmail.com"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <article class="about-us__article">
      <div class="about-us__article--container-img">
        <img src="./assets/images/img-profile-cristina.jpg" alt="Cristina" />
      </div>
      <div class="about-us__article--info">
        <h3>Cristina Carrascal</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit architecto libero nulla fuga, veniam,
          molestias magni aut ab omnis voluptate molestiae officiis asperiores expedita? Architecto quo voluptatibus
          maxime distinctio deleniti.</p>
        <ul class="about-us__article--info">
          <li>
            <a href="https://twitter.com/_chococrispis"><i class="fab fa-twitter" title="Twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/cristina-carrascal/"><i class="fab fa-linkedin-in"
                title="LinkedIn"></i></a>
          </li>
          <li>
            <a href="https://github.com/Cris-ti-na"><i class="fab fa-github-alt" title="GitHub"></i></i></a>
          </li>
          <li id="last-child">
            <a href="mailto: cristina.ccmm@gmail.com"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <article class="about-us__article">
      <div class="about-us__article--container-img">
        <img src="./assets/images/img-profile-kayla.jpg" alt="Kayla" />
      </div>
      <div class="about-us__article--info">
        <h3>Kayla Jean Crane</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo incidunt hic quas nobis harum
          veritatis adipisci culpa nostrum! Eaque nesciunt quibusdam minima deleniti perferendis praesentium
          similique dicta voluptatem optio et. </p>

        <ul class="about-us__article--info">
          <li>
            <a href="https://twitter.com/KaylaJCrane"><i class="fab fa-twitter" title="Twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kaylacrane/"><i class="fab fa-linkedin-in" title="LinkedIn"></i></a>
          </li>
          <li>
            <a href="https://github.com/kaylacrane"><i class="fab fa-github-alt" title="GitHub"></i></a>
          </li>
          <li id="last-child">
            <a href="mailto: kayla.crane@gmail.com"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <article class="about-us__article">
      <div class="about-us__article--container-img">
        <img src="./assets/images/img-profile-ana.jpg" alt="Ana" />
      </div>
      <div class="about-us__article--info">
        <h3>Ana Belén Funes</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, officia! Reiciendis dolor velit
          temporibus voluptatibus, exercitationem dicta nostrum. At eveniet reiciendis deleniti a maxime voluptates
          ad quos nihil voluptate cumque.</p>
        <ul class="about-us__article--info">
          <li>
            <a href="https://twitter.com/anajapy"><i class="fab fa-twitter" title="Twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/anabel%C3%A9nfunes"><i class="fab fa-linkedin-in"
                title="LinkedIn"></i></a>
          </li>
          <li>
            <a href="https://github.com/anapy"><i class="fab fa-github-alt" title="GitHub"></i></a>
          </li>
          <li id="last-child">
            <a href="mailto: anabelefunesc@gmail.com"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>