<section class="about-us" id="about-us">
  <div class="wrapper">
    <h2>quiénes somos</h2>

    <include
      src="./article.html"
      img-profile="./assets/images/img-profile-marina.jpg"
      alt="Marina"
      name="Marina Carbonell"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cum? Eum
    accusamus inventore quasi sunt quibusdam modi maxime similique laboriosam
    mollitia deserunt asperiores in totam, quam necessitatibus, blanditiis
    deleniti temporibus."
      twitter="https://twitter.com/DiariodeunaN?s=09"
      linkedin="https://www.linkedin.com/in/marina-carbonell-%C3%A1lvarez-48903950/"
      github="https://github.com/MarinaCarbonell"
      email="mailto: marinacarbonellalvarez@gmail.com"
    ></include>

    <include
      src="./article.html"
      img-profile="./assets/images/img-profile-claudia.jpg"
      alt="Claudia"
      name="Claudia Santaella"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cum? Eum
    accusamus inventore quasi sunt quibusdam modi maxime similique laboriosam
    mollitia deserunt asperiores in totam, quam necessitatibus, blanditiis
    deleniti temporibus."
      twitter="https://twitter.com/__Santaella"
      linkedin="https://www.linkedin.com/in/claudia-santaella-61526a11"
      github="https://github.com/claudiasanes"
      email="mailto: claudiasanes@gmail.com"
    ></include>

    <include
      src="./article.html"
      img-profile="./assets/images/img-profile-cristina.jpg"
      alt="Cristina"
      name="Cristina Carrascal"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cum? Eum
    accusamus inventore quasi sunt quibusdam modi maxime similique laboriosam
    mollitia deserunt asperiores in totam, quam necessitatibus, blanditiis
    deleniti temporibus."
      twitter="https://twitter.com/_chococrispis"
      linkedin="https://www.linkedin.com/in/cristina-carrascal/"
      github="https://github.com/Cris-ti-na"
      email="mailto: cristina.ccmm@gmail.com"
    ></include>

    <include
      src="./article.html"
      img-profile="./assets/images/img-profile-kayla.jpg"
      alt="Kayla"
      name="Kayla Jean Crane"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cum? Eum
    accusamus inventore quasi sunt quibusdam modi maxime similique laboriosam
    mollitia deserunt asperiores in totam, quam necessitatibus, blanditiis
    deleniti temporibus."
      twitter="https://twitter.com/KaylaJCrane"
      linkedin="https://www.linkedin.com/in/kaylacrane/"
      github="https://github.com/kaylacrane"
      email="mailto: kayla.crane@gmail.com"
    ></include>

    <include
      src="./article.html"
      img-profile="./assets/images/img-profile-ana.jpg"
      alt="Ana Belén"
      name="Ana Belén Funes"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cum? Eum
  accusamus inventore quasi sunt quibusdam modi maxime similique laboriosam
  mollitia deserunt asperiores in totam, quam necessitatibus, blanditiis
  deleniti temporibus."
      twitter="https://twitter.com/anajapy"
      linkedin="https://www.linkedin.com/in/anabel%C3%A9nfunes"
      github="https://github.com/anapy"
      email="mailto: anabelefunesc@gmail.com"
    ></include>
  </div>
</section>
