<section class="about-us content">
  <div class="content__target" id="about-us"></div>
  <div class="wrapper">
    <h2>quiénes somos</h2>
    <ul class="about-us__list">
      <include src="./article.html" imgprofile1="./assets/images/img-profile-marina.jpg" imgprofile2="./assets/images/img-profile-marina-quote.jpg" alt="Marina"
      name="Marina Carbonell" description="Nacida y residente en Madrid, no se me puede considerar gata por muy poco. Estudié Turismo y me dediqué unos años a ellos, aunque he dedicado los últimos años al Marketing Digital.
      Me encanta cocinar y por ello comer y probar cosas nuevas, visitar mercadillos y museos, las cosas antiguas, bucear y el cine y los conciertos.
      Soy una mujer a la que le gusta saber que aporta su granito de arena en que las cosas a su alrededor sean mejor, soy trabajadora, cariñosa y  tenaz. Como seguro que quieres saber mi lado negativo, diré que soy terca y pasional.
      Un personaje que me representa puede ser una mezcla de Ameliè y Cactus de Las Supernenas."
      twitter="https://twitter.com/DiariodeunaN?s=09"
      linkedin="https://www.linkedin.com/in/marina-carbonell-%C3%A1lvarez-48903950/"
      github="https://github.com/MarinaCarbonell" email="mailto: marinacarbonellalvarez@gmail.com"></include>

      <include src="./article.html" imgprofile1="./assets/images/img-profile-claudia.jpg" imgprofile2="./assets/images/img-profile-claudia-quote.jpg" alt="Claudia"
      name="Claudia Santaella" description="Nací en Barcelona. Soy diseñadora gráfica, intento hacer cosas bonitas, me gusta contar en múltiplos de 8 y si no está todo pixel perfect me da el toc.
      Soy curiosa e inquieta, todo lo quiero probar, siempre estoy aprendiendo y con un 20 proyectos  a la vez. Mi problema es que soy muy cabezota.
      En cuanto tengo tiempo me pongo a pintar, comprar libros para aumentar el montón de libros sin leer de al lado de la cama, ir a conciertos y comer (que es la razón por la que me gusta cocinar)." twitter="https://twitter.com/__Santaella"
      linkedin="https://www.linkedin.com/in/claudia-santaella-61526a11" github="https://github.com/claudiasanes"
      email="mailto: claudiasanes@gmail.com"></include>

      <include src="./article.html" imgprofile1="./assets/images/img-profile-cristina.jpg" imgprofile2="./assets/images/img-profile-cristina-quote.jpg" alt="Cristina"
      name="Cristina Carrascal" description="¡Hola, mundo! Soy una madrileña multitasking con máster en nuevos retos, aunque en realidad mi titulación dice que soy diseñadora. Proactividad es mi segundo nombre y la creatividad está tan agarrada a mí que no pasa un día sin planear algo nuevo que hacer o aprender. Vamos, un auténtico culo inquieto.
      Amo a mi gato. Bueno, a mis dos gatos. Uy, perdonad... mis tres gatos (el número ha aumentado casi sin darme cuenta!).
      Mi vida pasa tratando de apaciguar la curiosidad que siento por el mundo y merendando mientras juego a videojuegos siempre que tengo hueco." twitter="https://twitter.com/_chococrispis"
      linkedin="https://www.linkedin.com/in/cristina-carrascal/" github="https://github.com/Cris-ti-na"
      email="mailto: cristina.ccmm@gmail.com"></include>

      <include src="./article.html" imgprofile1="./assets/images/img-profile-kayla.jpg" imgprofile2="./assets/images/img-profile-kayla-quote.jpg" alt="Kayla"
      name="Kayla Jean Crane" description="Originaria de Indiana, EEUU, actualmente vivo en Madrid. Estudié Idiomas (español y francés) y he dedicado la mayor parte de mi vida a ser profesora.
      Lo que más me gusta hacer es dedicarme a la jardinería y a cocinar, los perros y los gatos y, como guilty pleasure, tumbarme a ver Netflix.
      Soy una mujer perseverante, tenaz, amigable y curiosa, aunque también tengo que decir que soy un poco cabezota.
      Un personaje que me representa mucho es Grumpy Cat." twitter="https://twitter.com/KaylaJCrane"
      linkedin="https://www.linkedin.com/in/kaylacrane/" github="https://github.com/kaylacrane"
      email="mailto: kayla.crane@gmail.com"></include>

    <include src="./article.html" imgprofile1="./assets/images/img-profile-ana.jpg" imgprofile2="./assets/images/img-profile-ana-quote.jpg" alt="Ana Belén"
      name="Ana Belén Funes" description="Nací en Málaga, actualmente vivo en Madrid. La pasión por conocer otras culturas y aprender idiomas me llevó a estudiar Traducción e Interpretación de inglés y alemán. Además por mi cuenta aprendí italiano, portugués y árabe. Actualmente estudio Ingeniería Informática en la Uned a tiempo parcial.
      Cuando tengo un rato libre me encanta cocinar (eso sí, ¡sin gluten!), leer, hacer yoga y viajar.
      Soy exigente, autodidacta y aventurera y, si me preguntas por algo negativo de mi, te diré que soy impaciente.
      Un personaje con el que me siento muy indentificada es Paloma, de la Elegancia del Erizo."
      twitter="https://twitter.com/anajapy" linkedin="https://www.linkedin.com/in/anabel%C3%A9nfunes"
      github="https://github.com/anapy" email="mailto: anabelefunesc@gmail.com"></include>
    </ul>
    </div>
</section>