<li class="about-us__list--item">
    <article class="article">
      <div class="img-container">
        <img src="@@imgprofile" alt="@@alt" class="img" />
      </div>
      <div class="article--info">
        <h3>@@name</h3>
        <p>
          @@description
        </p>
        <span class="rrss">
          <a href="@@twitter">
            <i class="fab fa-twitter" title="Twitter"></i>
          </a>
          <a href="@@linkedin">
            <i class="fab fa-linkedin-in" title="LinkedIn"></i>
          </a>
          <a href="@@github">
            <i class="fab fa-github-alt" title="GitHub"></i>
          </a>
          <a id="last-child" href="@@email">
            <i class="fas fa-envelope" title="Email"></i>
          </a>
        </span>
      </div>
    </article>
</li>