<footer class="footer">
  <div class="wrapper">
    <p class="footer__copyright">Queens of Code © 2020</p>
    <nav class="footer__menu">
      <ul>
        <li><a class="footer__menu--link" title="Ir a Equipo" href="index.html#team">EQUIPO</a></li>

        <li><a class="footer__menu--link" title="Ir a Quienes Somos" href="index.html#about-us">QUIÉNES SOMOS</a></li>

        <li><a class="footer__menu--link" title="Ir a Contacto" href="./contact.html">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="footer__logo">
      <a href="https://adalab.es/" title="Ir a la página de Adalab"><img src="./assets/images/logo-adalab.png"
          alt="Logo de Adalab" width="116px" height="45px" /></a>
    </div>
  </div>
  </div>
</footer>