<header class="header">
  <div class="header__container">
    <a href="index.html">
      <h1 class="header__title">
        Queens of Code
      </h1>
    </a>
  </div>
  <div class="header__container menu">
    <nav class="header__menu">
      <ul class="header__menu--list">
        <li>
          <a href="#team">Equipo</a>
        </li>
        <li>
          <a href="#about-us">Quiénes somos</a>
        </li>
        <li>
          <a href="./contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>