<header class="header">
      <div class="header__container">
        <h1 class="header__title">
          <a href="index.html">Queens of Code</a>
        </h1>
      </div>
      <div class="header__container menu">
        <nav class="header__menu">
          <ul class="header__menu--list">
            <li>
              <a href="#team">Equipo</a>
            </li>
            <li>
              <a href="#about-us">Quienes somos</a>
            </li>
            <li>
              <a href="./contact.html">Contactos</a>
            </li>
        </ul>
      </nav>
    </div>
</header>
