<!--Skills Section-->
<section class="skills">
  <div class="skills__square"></div>
  <div class="wrapper">
    <div class="skills__strengths">
      <h3>
        Fortalezas
      </h3>
      <p>
        La tenacidad, la versatilidad y la inquietud por el mundo que nos rodea
        podrían ser tres características que nos definen muy bien. Si nos
        conoces, verás que puedes hablar con nosotras de cine, de viajes o de
        cómo cambiarle el color al class dentro de una lista y sobre todo, que
        siempre tenemos ganas de aprender algo nuevo. ¡Dicen de nosotras que
        somos camaleónicas!
      </p>
    </div>
    <div class="skills__weaknesses">
      <h3>
        Debilidades
      </h3>
      <p>
        Aunque seamos reinas, somos conscientes de que tenemos alguna que otra
        debilidad… pero, sinceramente, eso nos hace más fuertes. Solo tenéis que
        decirnos en qué creeis que podemos mejorar y nosotras lo haremos. ¡No lo
        dudes!
      </p>
    </div>
  </div>
</section>
