
    /*COLORS*/
    $primary-color: #099d8d;
    /*dark blue-green */
    $secondary-color: #14d9c4;
    /*aqua*/
    $light-color: #ffffff;
    /* white*/
    $lightgray-color: #b8b8b9;
    /*cool-grey*/
    $darkgrey-color: #54585a;
    /*dark grey gunmetal*/
    $dark-color: #000000;
    /* black */
    
    /*FONTS*/
    $primary-font: "Rubik", sans-serif;
    $secondary-font: "Open Sans", sans-serif;
  }