.wrapper.contact {
  padding: 30px 15px 60px;

  @include tablet {
    padding: 30px 163px 60px;
  }
  @include desktop {
    padding: 45px 300px 120px;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  padding-top: 58px;

  &-group {
    display: block;
  }
}

.contact__form-group input {
  border: solid 1px $lightgray-color;
  height: 45px;
  padding-left: 15px;
}

.contact__form-group .contact__form--textarea {
  border: 1px solid $lightgray-color;
}

.contact__form label,
.contact__form input {
  width: 100%;
}

.contact__form--textarea {
  width: 100%;
  padding: 15px;
  height: 105px;
}

.contact__form--button {
  color: $light-color;
  background-color: $primary-color;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  height: 45px;
  margin-top: 30px;
  border: 1px solid $primary-color;
  align-self: flex-start;
  @include tablet {
    padding: 12px 74px;
    max-width: 206px;
    align-self: flex-end;
  }
  @include desktop {
    max-width: 278px;
  }
}

.contact__small-paragraph {
  font-family: $secondary-font;
  text-align: center;
}

.contact__first-paragraph {
  padding-bottom: 45px;
  font-family: $secondary-font;
  text-align: center;
}

.contact__title {
  font-family: $primary-font;
  text-align: center;

  padding-bottom: 15px;
  color: $primary-color;
  text-transform: uppercase;
}

.contact__star {
  color: $secondary-color;
}

label {
  line-height: 45px;
}

@include desktop {
  .contact__form-group.email-tel {
    display: flex;
    justify-content: space-between;
  }
  .contact__form--email {
    min-width: 70%;
    padding-right: 20px;
  }
}
