.wrapper.contact {
  padding: 30px 15px 60px;

  @include tablet {
    padding: 30px 163px 60px;
  }
  @include desktop {
    padding: 45px 300px 120px;
  }
}

.contact {
  &__title {
    font-family: $primary-font;
    text-align: center;
    padding-bottom: 15px;
    color: $primary-color;
    text-transform: uppercase;
  }
  &__paragraph {
    font-family: $secondary-font;
    text-align: center;
    &--first {
      padding-bottom: 45px;
    }
  } 
  &__form {
    display: flex;
    flex-direction: column;
    font-family: $secondary-font;
    padding-top: 58px;
    label, input{
      width: 100%;
    }
    &--textarea {
      border: 1px solid $lightgray-color;
      width: 100%;
      padding: 15px;
      height: 105px;
    }
    &--group {
      display: block;
      input {
        border: solid 1px $lightgray-color;
        height: 45px;
        padding-left: 15px;
      }
    }
    &--button {
      color: $light-color;
      background-color: $primary-color;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      height: 45px;
      margin-top: 30px;
      border: 1px solid $primary-color;
      align-self: flex-start;
      @include tablet {
        padding: 12px 74px;
        max-width: 206px;
        align-self: flex-end;
      }
      @include desktop {
        max-width: 278px;
      }
    }
  }
  &__star {
    color: $secondary-color;
  }
}

label {
  line-height: 45px;
}

@include desktop {
  .contact__form--group.email-tel {
    display: flex;
    justify-content: space-between;
  }
  .contact__form--email {
    min-width: 70%;
    padding-right: 20px;
  }
}
