.about-us {
  align-items: center;
  text-align: center;

  & h2 {
    color: $primary-color;
    font-size: rem(20);
    text-transform: uppercase;
    font-family: $secondary-font;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 45px;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
      padding: 0 45px;

      &:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        text-align: right;
        padding: 0 45px;
      }
    }
    &--container {
      box-sizing: content-box;
      height: 180px;
      width: 180px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: 5px solid rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.about-us__article--info h3 {
  color: $dark-color;
  font-size: rem(20);
  font-family: $secondary-font;
  line-height: 45px;
  padding-top: 15px;
}

.about-us__article--info p {
  color: $darkgrey-color;
  font-size: rem(16);
  font-family: $secondary-font;
  margin-bottom: 15px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: rem(24);
}

.socialmedia li {
  color: $primary-color;
  text-align: center;
  padding: 16px;
}

.socialmedia li:not(#last-child):after {
  content: ".";
  color: $dark-color;
  font-size: rem(12);
  font-weight: bolder;
  padding: 10px;
}

/* About us MEDIAQUERIS */
@media all and (min-width: 768px) {
  .about-us--container {
    box-sizing: content-box;
    height: 205px;
    width: 205px;
    min-width: 205px;
    border: 5px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  .about-us__article--info {
    padding: 0 15px;
    justify-content: flex-start;
  }

  .about-us__article--info:nth-child(odd) {
    padding: 0 15px;
    justify-content: flex-start;
  }
  .about-us__article ul {
    padding-top: 15px;
  }
  .about-us__article ul:nth-child(odd) {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
  }
}
@media all and (min-width: 1200px) {
  .wrapper {
    padding: 0 138px;
  }
}
