.about-us {
  
  & .wrapper {
    @include desktop {
      padding: 0 138px;
    }
    
    h2 {
    color: $primary-color;
    font-size: rem(24);
    line-height: 45px;
    text-transform: uppercase;
    font-family: $secondary-font;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    @include tablet {
    padding-top: 45px;
    padding-bottom: 41px;
    } 
  }
}  


.article {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 45px;
 @include tablet {
    flex-direction: row;
    margin: 60px 0;
    text-align: left;
  }   
  &--container {
    box-sizing: content-box;
    height: 180px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    perspective: 1000px;

    @include tablet {
      box-sizing: content-box;
      height: 205px;
      width: 205px;
      min-width: 205px;
      border: 5px solid rgba(0, 0, 0, 0.08);
      border-radius: 4px;
    }
  .front-img, .back-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;   
    .img-profile {
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
      -webkit-transition: transform 0.6s;
      -moz-transition: transform 0.6s;
      -ms-transition: transform 0.6s;
      -o-transition: transform 0.6s;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }  
  }
  .back-img {
    transform: rotateY(180deg);    
    background-color: $secondary-color;
    color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
&--info {
  @include tablet {
      flex-grow: 1;
      margin-left: 31px;
  }
  h3 {
    color: $dark-color;
    font-size: rem(20);
    font-family: $secondary-font;
    line-height: 45px;
  }
  p {
    color: $darkgrey-color;
    font-size: rem(16);
    font-family: $secondary-font;
    margin-bottom: 15px;
  }
  .social-media a {
    color: $primary-color;
    text-align: center;
  }
  .social-media a:not(#last-child):after {
    content: "·";
    color: $dark-color;
    font-size: rem(24);
    font-weight: bolder;
    padding: 10px;
  }
}
}
  .article--container:hover .img-profile{
    transform: rotateY(180deg);
  }

  /* ARTICULOS AL REVES */

  @include tablet {
    .about-us__list--item:nth-of-type(even) {
      .article {
        &--info {
          margin-left: 31px;
          margin-right: 0;
          text-align: left;
        }
      }
    }
    .about-us__list--item:nth-of-type(odd) {
      .article {
        flex-direction: row-reverse;
        &--info {
          margin-left: 0;
          margin-right: 31px;
          text-align: right;
        }
      }
      .article:first-child {
        margin-top: 0px;
      }
      .article:last-child {
        margin-bottom: 60px;
      }
    }
  }
}