/*footer*/

.footer {
  border-top: 1px solid $lightgray-color;
  font-family: $secondary-font;
  font-size: rem(14);
  & .wrapper {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    @include tablet {
      padding-bottom: 60px;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      position: relative;
    }
    @include desktop {
      padding-bottom: 50px;
    }
  }
  &__copyright {
    margin-bottom: 10px;
    color: $lightgray-color;
    @include tablet {
      margin: 0px;
      text-align: left;
    }
  }
  &__menu {
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
    @include tablet {
      text-align: right;
      padding: 0;
    }

    & ul {
      display: block;
      font-weight: 700;
      list-style-type: none;
      margin: 0px;
      padding-inline-start: 0px;
      & li {
        padding: 0 0 5px;
        @include tablet {
          padding: 0 0 10px 0;
        }
        @include desktop {
          padding: 0 0 10px;
        }
      }
    }
    &--link {
      color: $darkgrey-color;
      opacity: 0.75;
      text-decoration: none;
      @include tablet {
        text-align: right;
      }
    }
  }
  &__logo {
    padding-top: 10px;
    padding-bottom: 15px;
    @include tablet {
      position: absolute;
      transform: translate(0px, 30px);
      padding: 0px;
    }
  }
}
