/*footer*/

.footer {
  border-top: 1px solid $lightgray-color;
  font-family: $secondary-font;
  font-size: rem(14);
  & .wrapper {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet() {
      padding: 20px 45px;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
    @include desktop() {
      padding: 30px 138px;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
  }
  &__copyright {
    margin: 10px;
    color: $lightgray-color;
    @include tablet() {
    margin: 0px;
    text-align: left;
    transform: translate(0px, -40px);
    }
    @include desktop() {
      margin: 0px;
      text-align: left;
      transform: translate(0px, -30px);
    }
  }
  &__menu {
    padding: 10px 0px;
    & ul {
      font-weight: 700;
      list-style-type: none;
      margin: 0px;
      padding-inline-start: 0px;
      text-align: center;
      @include tablet() {
        text-align: right;
      }
      @include desktop() {
        text-align: right;
      }
    }
    &--link {
      color: $darkgrey-color;
      opacity: 0.75;
      text-decoration: none;
      line-height: 1.43;
      @include tablet() {
        line-height: 3rem;
        text-align: right;
      }
      @include desktop() {
        line-height: 3rem;
        text-align: right;
      }
    }
  }
  &__logo {
    padding-top: 20px;
    padding-bottom: 25px;
    @include tablet() {
      position: absolute;
      transform: translate(0px, 10px);
      padding: 0px;
    }
    @include desktop() {
      position: absolute;
      transform: translate(0px, 20px);
      padding: 0px;
    }
  }
}
