.header {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  background-color: transparentize($primary-color, 0.2);
  color: $light-color;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  z-index: 1;
  @include tablet {
    flex-direction: row;
    padding: 0 45px;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    padding: 0 138px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30 15px;
    height: 60px;
    &.menu {
      display: block;
      height: 45px;
      padding: 12px 15px;
      background-color: transparentize($secondary-color, 0.4);
      @include tablet {
        width: 50%;
        background-color: transparent;
      }
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title {
    font-size: rem(16);
    color: $light-color;
    text-transform: uppercase;
    text-align: center;
    font-family: $primary-font;
    @include hover-highlight;
  }
  &__menu {
    &--list {
      display: flex;
      justify-content: space-between;
      @include tablet {
      }
      & li a {
        @include hover-highlight;
        color: $light-color;
        font-size: rem(16);
        text-transform: uppercase;
      }
    }
  }
}
