.header {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  background-color: $primary-color;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
}
.header__container {
  padding: 0 15px;
}

.header__title {
  font-size: rem(16);
  margin: 0;
  color: $light-color;
  text-transform: uppercase;
}

.header__menu {
  background-color: $secondary-color;
}

.header__menu--list {
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__menu--list li a {
  color: $light-color;
  font-size: rem(16);
  text-transform: uppercase;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    background-color: $primary-color;
    padding: 0 45px;
  }
  .header__container {
    width: 50%;
    display: inline-block;
  }

  .header__menu {
    background-color: inherit;
  }

  .header__menu--list {
    justify-content: flex-end;
  }
}
