.hero {
  height: 100%;
  position: relative;

  &__img {
    img {
      width: 100%;
    }
    &--group1 {
      display: block;
      @media (min-width: 768px) {
        display: none;    
      }
    }
    &--group2 {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  &__claim {
    background-color: $light-color;
    padding: 15px;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: rem(18);
    text-align: center;
    width: fit-content;
    position: absolute;
    bottom: -20px;
    @media (min-width: 768px) {
      background-color: transparentize($light-color, 0.2);
      bottom: -1px;
      padding: 15px 30px;    
    }
    @media (min-width: 1200px) {
      font-size: rem(24);    
    }
    /* NO VEMOS SU FUNCION */
    /*span {
      bottom: -20px;
    }*/
  }

}
.wrapper {
  height: 100%;
  position: relative;
}
