:root {
  /*COLORS*/
  --primary-color: #099d8d;
  /*dark blue-green */
  --secondary-color: #14d9c4;
  /*aqua*/
  --light-color: #ffffff;
  /* white*/
  --lightgray-color: #b8b8b9;
  /*cool-grey*/
  --darkgrey-color: #54585a;
  /*dark grey gunmetal*/
  --dark-color: #000000;
  /* black */

  /*FONTS*/
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --other-font: "Open Sans", sans-serif;
}

* {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
}

.body {
  box-sizing: border-box;
  width: 100vw;
  max-width: 320px; /* quitar esto cuando metamos las mediaqueris */
}

.wrapper {
  box-sizing: border-box;
  border: 1px solid red;
  padding: 15px;
}
/* .header-group-name {
  background-color: blue-green #099d8d;
  --primary-font: Rubik-Medium;
  font-size: 16px;
  --light-color: ffffff; 
} */

/*MENÚ NAVEGACIÓN*/

.header.menu {
  background-color: #14d9c4;
  --light-color: #ffffff;
  font-size: 15px;
  --primary-font: Rubik-Medium;
}

/*HERO*/
.hero-img {
  height: 300px;
  background-image: url ("");
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
}

.hero-claim {
  --dark-color: #000000;
  font-family: OpenSans-Semibold;
  background-color: white;
  font-size: 18px;
}

/*EQUIPO*/

.team h1 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  text-align: center;
  font-size: 2.4rem;
  line-height: 45px;
  padding: 15px 0;
}

.team p {
  color: var(--darkgrey-color);
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 1.6rem;
  padding: 15px 0;
}

/*FORTALEZAS & DEBILIDADES*/

.skills.title {
  color: #099d8d;
  font-family: Rubik-Medium;
  align-content: center;
  font-size: 22px;
  background-color: b8b8b9;
}

.skills.text {
  color: #54585a;
  font-family: OpenSans;
  align-content: center;
  font-size: 16px;
  background-color: #b8b8b9;
}

/*QUIÉNES SOMOS*/

.section-about-us {
  align-items: center;
  text-align: center;
}

.section-about-us article {
  margin-bottom: 45px;
}

.section-about-us h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 2.4rem;
  padding: 30px;
  line-height: 45px;
}

.section-about-us .img-profile {
  box-sizing: content-box;
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 10px;
}

.section-about-us h2 {
  color: var(--dark-color);
  font-size: 2rem;
  font-family: var(--secondary-font);
  line-height: 45px;
}

.section-about-us p {
  color: var(--darkgrey-color);
  font-size: 1.6rem;
  font-family: var(--other-font);
  margin-bottom: 15px;
}

.section-about-us .rrss {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-about-us li {
  padding: 8px;
  font-size: 24px;
}
.section-about-us a {
  color: var(--primary-color);
}

.section-about-us .rrss li:not(:first-child)::after {
  background-color: grey;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  display: block;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

/*footer*/

.nombre-grupo {
  font-size: 14px;
  color: #b8b8b9;
  align-content: center;
  font-family: var(--secondary-font);
}
.footer.menu {
  font-size: 14px;
  color: #54585a;
  align-content: center;
  font-family: OpenSans-Semibold;
}

@media all and (min-width: 768px) and (max-width: 1200px) {
}

@media all and (min-width: 1200px) {
}
