:root {
  /*COLORS*/
  --primary-color: #099d8d;
  /*dark blue-green */
  --secondary-color: #14d9c4;
  /*aqua*/
  --light-color: #ffffff;
  /* white*/
  --lightgray-color: #b8b8b9;
  /*cool-grey*/
  --darkgrey-color: #54585a;
  /*dark grey gunmetal*/
  --dark-color: #000000;
  /* black */
  /*FONTS*/
  --primary-font: Rubik-Medium;
  --secondary-font: OpenSans;
  --other-font: Opensans-Semibold;
}

.wrapper {
  border: 1px solid red;
}
/* .header-group-name {
  background-color: blue-green #099d8d;
  --primary-font: Rubik-Medium;
  font-size: 16px;
  --light-color: ffffff; 
} */

/*MENÚ NAVEGACIÓN*/

.header.menu {
  background-color: #14d9c4;
  --light-color: #ffffff;
  font-size: 15px;
  --primary-font: Rubik-Medium;
}

/*HERO*/
.hero-img {
  height: 300px;
  background-image: url ("");
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
}

.hero-claim {
  --dark-color: #000000;
  font-family: OpenSans-Semibold;
  background-color: white;
  font-size: 18px;
}

/*EQUIPO*/

.team {
  color: #099d8d;
  font-family: Rubik-Medium;
  align-content: center;
  font-size: 24px;
  background-color: white;
}

.team.text {
  color: #54585a;
  font-family: OpenSans;
  align-content: center;
  font-size: 16px;
  color: #000000;
  background-color: white;
}

/*FORTALEZAS & DEBILIDADES*/

.skills.title {
  color: #099d8d;
  font-family: Rubik-Medium;
  align-content: center;
  font-size: 22px;
  background-color: b8b8b9;
}

.skills.text {
  color: #54585a;
  font-family: OpenSans;
  align-content: center;
  font-size: 16px;
  background-color: #b8b8b9;
}

/*QUIÉNES SOMOS*/

.aboutus {
  color: #099d8d;
  font-family: Rubik-Medium;
  size: 24px;
  align-content: center;
  background-color: white;
}

.aboutus-name {
  color: black;
  font-size: 20px;
  font-family: OpenSans;
  background-color: white;
  align-content: center;
}

.aboutus-text {
  color: #54585a;
  font-size: 16px;
  font-family: OpenSans;
  background-color: white;
  align-content: center;
}

.aboutus-icon {
  color: #099d8d;
  font-size: 16px;
  background-color: white;
  align-content: center;
}

/*footer*/

.body {
  padding: 15px;
}

.footer .wrapper {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-copyright {
  margin: 10px;
  font-size: 14px;
  color: #b8b8b9;
  font-family: var(--secondary-font);
}
.footer-menu {
  font-size: 14px;
  color: #54585a;
  font-family: var(--other-font);
  padding: 10px;
}

.footer-menu ul {
  list-style-type: none;
  margin: 0px;
  padding-inline-start: 0px;
  text-align: center;
  font-weight: bold;
}

.footer-link {
  font-size: 14px;
  color: #54585a;
  font-family: var(--other-font);
  text-decoration:none;
  line-height: 20px;
}

.footer-logo {
  padding-top: 20px;
  padding-bottom: 25px;
}
