/* CORE */
@import "core/_reset";
@import "core/_functions";
@import "core/_mixins";
@import "core/_variables";

/* LAYOUT */
@import "layout/header";
@import "layout/hero";
@import "layout/team";
@import "layout/skills";
@import "layout/aboutus";
@import "layout/footer";
@import "layout/form";
/* PAGES */
@import "pages/contact";

* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: $defaultFontSize;
}

a {
  font-family: $secondary-font;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  @include tablet {
    padding: 0 45px;
  }
  @include desktop {
    padding: 0 138px;
  }
}
